//import
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

//Variables 
$Michroma: 'Michroma', sans-serif;
$nav-color: #013952;
$nav-font: red;
$nav-hover:yellow;
$content-title: red;
$cost-color: yellow;
$about-title: rgb(160, 59, 255);


// root seetings 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:$Michroma;
}

body {
    //background-image: url(./images/spencer-davis-R_J6KjC68E4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

nav {
    display: flex;
    flex-direction: column;
    //border: solid yellow 2px;
    background-color: $nav-color;
    min-height: 3rem;
    gap: 0.5rem;
    justify-content: center;
    padding: 0.5rem;;
   
    .titleDiv {
        align-self: center;        
        color: $nav-font;
        font-size: 1.5rem;
        text-decoration: underline;
            
    };

    ul{ 
        display: flex;
        flex-direction: row;
        gap: 2rem;
        list-style-type: none;
        align-self: center;
        justify-content: center;
        
    
        li {
            list-style: none;
            display: inline;
            font-weight: bold;

            a {
                text-decoration: none;
                color: $nav-font;
                transition: 0.4s;
            }
        };
        a:hover {
            text-decoration-color: $nav-hover;
            color: $nav-hover;
            text-decoration: underline;
        }
    };


}

.content{
    border: solid 2px $content-title;
    //position: absolute;
    width: 60vw;
    margin: auto;
    text-align: center;
    height: 80vh;
    margin-top: 2.5rem;
    background: rgba(0,0,0,0.3);
    //backdrop-filter: blur(16px);
    padding: 1rem;
    transition: 0.4s;



    .content-title{
        color: $content-title;
        //border: solid 2px black;
        width: fit-content;
        margin: auto;
    };

    //grid item styling, only used in the menu.js file. 
    .content-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-rows: 1fr;
        //border: 2px solid black;
        row-gap: 2rem;
        padding: 1rem;;
        column-gap: 2rem;
        

        .item {
            //border: 2px solid black;
            min-height: 6rem;
            max-height: fit-content;
            min-width: 6rem;;
            position: relative;
            background: rgba(0,0,0,0.5);

            #item-title {
                color: yellow;
            }

            hr {
                width: 80%;
                margin: auto;
                height: 0.2rem;
                border: $nav-font;
                background-color: $nav-font;
            }

            p {
                font-size: small;
                color: yellow;
                font-weight: bold;
            }

            #cost {
                position: absolute;
                right: 0;
                bottom: 0;;
                color: $cost-color;
                font-weight: bold;
                padding: 0.25rem;
            }
        }
    };
    
};


.aboutInfo{
    background: rgba(0,0,0,0.7);

    #aboutTitle {
        font-style: italic;
        font-weight: bold;
        color: $about-title;
        margin: 1rem auto;
        font-size: 2rem;
        transition: 0.4s;
        width: fit-content;
    
    };

    #aboutTitle:hover {
        transform:scale(1.05);
        transition: 0.4s;
        color: $cost-color;
    };

    #aboutTitle:hover {
        scale: (1.1rem);
        transition: 0.4s;
        color: $nav-font;
    };

    hr {
        width: 80%;
        margin: auto;
        height: 0.2rem;
        border: $nav-font;
        background-color: $nav-font;
    };

    p {
        margin-top: 2rem;
        display: block;
        color: $about-title;
    };

    #aboutTitleTwo {
        margin: 1rem 0 1rem 0;
        color: $cost-color;
    };

    li {
        list-style-type: none;
        text-align: start;
        padding: 0.25rem;
        color: $cost-color;
    };

}







.content:hover {
    transform: scale(1.05);
    transition: 0.4s;
    border: solid 4px $cost-color ;

}

@media only screen and (max-width: 600px) {
   
  }